/* --- fonts --- */

@font-face {
  font-family:'Open Sans';
  src: url('../fonts/open_sans_bold.eot');
	src: url('../fonts/open_sans_bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/open_sans_bold.woff2') format('woff2'),
	url('../fonts/open_sans_bold.woff') format('woff'),
	url('../fonts/open_sans_bold.svg#open_sans_bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family:'Open Sans';
  src: url('../fonts/open_sans_regular.eot');
	src: url('../fonts/open_sans_regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/open_sans_regular.woff2') format('woff2'),
	url('../fonts/open_sans_regular.woff') format('woff'),
	url('../fonts/open_sans_regular.svg#open_sans_regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

/* --- html --- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

picture {
	border-image-width: 0;
	font-size: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}


/* -- header -- */

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header,
.download {
	background-color: #0f0735;
}

.header-logo-icon,
.footer-logo-icon {
	stroke: #fff;
}
.header-logo-text,
.footer-logo-text {
	fill: #fff;
}

.visually-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-title {
	display: flex;
	flex-wrap: wrap;
	font-size: 9rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.header-title-top {
	width: 100%;
}
	
.header-title-bottom {
	display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 16%;
}

.container-buttons {
	display: flex;
	justify-content: center;
}

a:link {
	text-decoration: none;
	color: #000;
}

.button-download, 
.button-google {
	display: flex;
	align-items: center;
	background-color: #5e42b0;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	color: #000;
	border-radius: 5rem;
	box-shadow: 0 1.6rem 2.4rem rgba(10,14,52);
	-webkit-box-shadow: 0 1.6rem 2.4rem rgba(10,14,52);
	-moz-box-shadow: 0 1.6rem 2.4rem rgba(10,14,52);
	-o-box-shadow: 0 1.6rem 2.4rem rgba(10,14,52);
}

.button-download:hover, 
.button-google:hover {
	background: #9076dc;
}

.button-download-svg, 
.button-google-svg {
	fill: #fff;
}

.button-download-svg {
	margin-bottom: 2%;
	margin-left: 10.5%;
}

.button-google-svg {
	margin-left: 16.5%;
}

.button-download-text,
.button-google-text {
	color: #fff;
	text-align: left;
	font-weight: 400;
	margin-left: 7%;
}

.button-download-text {
	max-width: 150px;
}

.button-google-text {
	max-width: 130px;
}

.button-bold-text {
	font-weight: 700;
}


/* -- athlets -- */

.athlets {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	overflow: hidden;
	-webkit-overflow: hidden;
}

.athlets-pic {
	position: absolute;
}

.h2 {
	color: #e7e7e7;
	text-transform: uppercase;
}

.h3-wrap {
	position: relative;
	font-weight: 700;
}

.h3 {
	color: #c1c1c1;
	text-transform: uppercase;
}

.h3-number {
	position: absolute;
	color: #000;
}

.h3-number:after {
	position: absolute;
	content: '';
	background-color: #5e42b0;
	border-radius: 3px;
}

.athlets-growth .h3-number:after {
	background-color: #efefef;
}

.players-growth .h3-number {
	color: #9173e6;
}

.players-growth .h3-number:after {
	background-color: #fff;
}

.athlets-collaboration {
	background-color: #f6f4fa;
}

.athlets-growth {
	background-color: #5e42b0;	
}

/* -- players -- */

.players {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	overflow: hidden;
	-webkit-overflow: hidden;
}

.players-pic {
	position: absolute;
}

.players-collaboration {
	background-color: #f5f6f7;
}

.players-growth {
	background-color: #0a0e34;
}

.players-growth .athlets-text{
	color: #fff;
}


/* -- steps -- */

.steps-be-active,
.steps-find-contact,
.steps-work-it {
	display: flex;
}

.steps-pic img {
	width: 100%;
}

.steps-be-active-01,
.steps-find-contact-02,
.steps-work-it-03 {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5e42b0;
	font-weight: 700;
	color: #f5f6f7;
}

.steps-be-active-01:after,
.steps-find-contact-02:after,
.steps-work-it-03:after {
	position: absolute;
	content: '';
	background-color: #8f7bc8;
}

/* -- footer -- */

.download {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0f0735;
}

.download-container {
	display: flex;
	justify-content: center;
}

.download-logo-back {
	background: linear-gradient(to bottom, #7656d6, #50379b);
}

.download-logo {
	position: relative;
	z-index: 200;
}

.download-title-text-wrap {
	display: flex;
	flex-wrap: wrap;
}

.download-title {
	color: #e7e7e7;
	text-transform: uppercase;
}

.download-text {
	text-transform: uppercase;
	color: #a496ca;
	font-weight: 400;
}

.download-logo {
	width: 106px;
	height: 86px;
	margin-left: 1rem;
	margin-top: 2.5rem;
}

.download-icon {
	stroke: #fff;
	fill: none;
}

.footer-logo {
	width: 191px;
	height: 52px;
	margin-right: 1.8%;
}


/* ------ backgrounds ----- */

@media screen and (min-width: 769px)  {
	.header {
		background: url(../images/surface_desktop.jpg) no-repeat center top;
		background-size: cover;
		
	}
	
	.download {
		background: url(../images/download_desktop.jpg) no-repeat center top;
		background-size: cover;
	}
	
}

@media screen and (max-width: 768px)  {
	.header {
		background: url(../images/surface_768.jpg) no-repeat center top;
		background-size: cover;
	}
	
	.download {
		background: url(../images/download_768.jpg) no-repeat center top;
		background-size: cover;
	}
}


/* ----- desktop min-width: 961px  ---- */

@media screen and (min-width: 961px) {
	html {
		font-size: 62.5%;
	}
	
	/* -- header -- */
	
	.header {
		padding-bottom: 111px;
	}
	
	.header-logo {
		width: 191px;
		height: 52px;
		margin-top: 45px;
		margin-right: 35px;
	}
	
	.header-title {
		letter-spacing: 0.49rem;
		margin: 31.7vh 0 21vh 0;
		padding-left: 3%;
		padding-right: 3%;
		max-width: 1660px;
		line-height: 1.15;
	}
	
	.container-buttons {
		flex-direction: row;
	}
	
	.button-download, 
	.button-google {
		font-size: 1.3rem;
		width: 310px;
		height: 75px;
	}
	
	.button-download {
		margin-right: 50px;
	}
	
	.button-download-svg, 
	.button-google-svg {
		width: 48px;
		height: 54px;
	}
	
	.button-download-text,
	.button-google-text {
		letter-spacing: 0.13rem;
	}
	
	.button-bold-text {
		letter-spacing: 0.09rem;
		margin-top: 3px;
	}
	
	/* -- athlets -- */
	
	.athlets {
		padding-top: 90px;
	}

	.athlets-pic {
		top: 0;
		right: 51.8%;
		max-width: 42%;
	}

	.h2 {
		font-size: 7.8rem;
		letter-spacing: 0.25rem;
		font-weight: 700;
	}
	
	.athlets .h2 {
		padding-left: 52.4%;
	}

	.h3 {
		margin-left: 35px;
		letter-spacing: 0.18rem;
		font-size: 3.6rem;
		max-width: 1530px;
	}
	
	.h3-number {
		font-size: 1.8rem;
		top: 8px;
		left: 0;
	}

	.h3-number:after {
		top: 26px;
		left: 2px;
		height: 6px;
		width: 21px;
	}

	.athlets-text {
		font-size: 2rem;
		letter-spacing: 1px;
		margin-top: 16px;
	}
	
	.athlets-connection,
	.athlets-collaboration,
	.athlets-growth {
		padding-left: 52.5%;
		padding-right: 10.4%;
	}

	.athlets-connection {
		padding-top: 60px;
		padding-bottom: 57px;
	}

	.athlets-collaboration {
		padding-top: 53px;
		padding-bottom: 55px;
	}

	.athlets-growth {
		padding-top: 79px;
		padding-bottom: 99px;
	}
	
	/* -- players -- */
	
	.players {
		padding-top: 90px;
		overflow-x: hidden;
	}
	
	.players-pic {
		top: 0;
		left: 41.9%;
	}
	
	.players .h2{
		padding-left: 16.4%;
	}
	
	.players .h3 {
		margin-left: 30px;
	}
	
	.players-connection,
	.players-collaboration,
	.players-growth {
		padding-left: 16.8%;
		padding-right: 51%;
	}
	
	.players-connection {
		padding-top: 58px;
		padding-bottom: 69px;
	}
	
	.players-collaboration {
		padding-top: 51px;
		padding-bottom: 69px;
	}
	
	.players-growth {
		padding-top: 85px;
		padding-bottom: 91px;
	}
	
	.players-collaboration .athlets-text,
	.players-growth .athlets-text {
		letter-spacing: 0.6px;
	}
	
	.players-collaboration .athlets-text {
		margin-top: 25px;
	}
	
	
	/* -- steps -- */
	
	.steps {
		max-width: 1920px;
		margin: auto;
	}
	
	.steps-pic,
	.steps-item {
		width: 50%;
		align-self: center;
	}
	
	.steps .h2 {
		letter-spacing: 1.7px;
	}
	
	.steps-be-active,
	.steps-find-contact,
	.steps-work-it {
		position: relative;
	}
	
	.steps-be-active .h2,
	.steps-work-it .h2{
		padding-left: 12.5%;
		margin-bottom: 4.5vw;
	}
	
	.steps-find-contact .h2 {
		padding-left: 18.7%;
		margin-bottom: 3vw;
		margin-top: -2.8vw;
	}
	
	.steps-item-text {
		font-size: 2.4rem;
		letter-spacing: 1.2px;
		line-height: 1.2;
	}
	
	.steps-be-active .steps-item-text {
		padding-left: 13%;
		padding-right: 13%;
		max-width: 610px;
	}
	
	.steps-find-contact .steps-item-text {
		padding-left: 20%;
		padding-right: 20%;
		max-width: 810px;
	}
	
	.steps-work-it .steps-item-text {
		padding-left: 13%;
		padding-right: 13%;
		max-width: 800px;
	}
	
	
	.steps-be-active-01,
	.steps-find-contact-02,
	.steps-work-it-03 {
		font-size: 2.4rem;
		height: 21%;
		width: 8.75%;
		top: calc(50% - 21%);
		left: calc(50% - 8.75%/2);
	}
	
	.steps-be-active-01:after,
	.steps-find-contact-02:after,
	.steps-work-it-03:after {
		top: calc(58% + 4px);
		left: calc(57% - 14%);
		height: 4px;
		width: 14%;
		border-radius: 3px;
	}
	
	/* -- footer -- */
	
	.download {
		padding-top: 225px;
	}
	
	.download-container {
		margin-bottom: 155px;
		margin-right: 2%;
	}
	
	.download-logo-back {
		width: 130px;
		height: 136px;
		border-radius: 30px;
		margin-right: 38px;
	}
	
	.download-title-text-wrap {
		max-width: 790px;
	}
	
	.download-title {
		font-size: 7.8rem;
		letter-spacing: 0.5rem;
		font-weight: 700;
	}
	
	.download-text {
		font-size: 3rem;
		line-height: 0.8;
	}
	
	.footer-logo {
		margin-top: 266px;
		margin-bottom: 50px;
	}
	
}


/* tablet min-width: 641px and max-width: 960px */

@media screen and (min-width: 641px) and (max-width: 960px) {
	
	html {
		font-size: 45%;
	}
	
	/* -- header -- */
	
	.header {
		padding-bottom: 92px;
	}
	
	.header-logo {
		width: 200px;
		height: 60px;
		margin-top: 38px;
	}
	
	.header-title {
		letter-spacing: 0.59rem;
		margin: 159px 10% 295px 10%;
		max-width: 650px;
		line-height: 1.25;
	}
	
	.container-buttons {
		flex-direction: row;
	}
	
	.button-download, 
	.button-google {
		font-size: 1.5rem;
		line-height: 1.5;
		width: 310px;
		height: 75px;
	}
	
	.button-download {
		margin-right: 30px;
	}
	
	.button-download-svg, 
	.button-google-svg {
		width: 48px;
		height: 54px;
	}
	
	.button-download-text,
	.button-google-text {
		letter-spacing: 0.3rem;
	}
	
	.button-bold-text {
		letter-spacing: 0.34rem;
	}
	
	/* -- athlets -- */
	
	.athlets {
		padding-top: 58px;
	}
	
	.athlets-pic {
		top: 12%;
		right: 64%;
	}

	.h2 {
		font-size: 11rem;
		letter-spacing: 3px;
	}
	
	.athlets .h2 {
		padding-left: 38vw;
	}

	.h3 {
		position: relative;
		z-index: 10;
		margin-left: 35px;
		font-size: 4.3rem;
		letter-spacing: 0.18rem;
	}
	
	.h3-number {
		font-size: 2.3rem;
		top: 2px;
		left: 0;
	}

	.h3-number:after {
		top: 25px;
		left: 1px;
		height: 6px;
		width: 21px;
	}

	.athlets-text {
		position: relative;
		z-index: 10;
		font-size: 2.3rem;
		margin-top: 15px;
		letter-spacing: 0.4px;
		line-height: 1.8;
	}
	
	.athlets-connection,
	.athlets-collaboration,
	.athlets-growth {
		padding-left: 38vw;
		padding-right: 5%;
	}
	
	.athlets-connection {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.athlets-collaboration {
		padding-top: 30px;
		padding-bottom: 33px;
	}

	.athlets-growth {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	
	/* -- players -- */
	
	.players {
		padding-top: 56px;
	}
	
	.players-pic {
		top: 37px;
		right: 0;
	}
	
	.players .h2 {
		padding-left: 3.6%;
	}
	
	.players .h3 {
		margin-left: 37px;
	}
	.players-connection,
	.players-collaboration {
		padding-left: 4%;
		padding-right: 42%;
	}
	
	.players-connection {
		padding-top: 31px;
		padding-bottom: 40px;
	}
	
	.players-collaboration {
		padding-top: 51px;
		padding-bottom: 65px;
	}
	
	.players-collaboration .athlets-text {
		margin-top: 19px;
		letter-spacing: 0.6px;
	}
	
	.players-growth {
		padding-top: 44px;
		padding-bottom: 48px;
		padding-left: 4%;
		padding-right: 40%;
	}
	
	.players-growth .athlets-text{
		letter-spacing: 1.6px;
	}
	
	/* -- steps -- */
	
	.steps-be-active,
	.steps-find-contact,
	.steps-work-it {
		flex-wrap: wrap;
	}
	
	.steps-item {
		position: relative;
	}
	
	.steps-pic,
	.steps-item {
		width: 100%;
	}
	
	.steps .h2 {
		margin-top: 60px;
		letter-spacing: 1.7px;
	}
	
	.steps-be-active .h2,
	.steps-find-contact .h2,
	.steps-work-it .h2 {
		padding-left: 3.6%;
		margin-bottom: 10px;
	}
	
	.steps-item-text {
		font-size: 3.2rem;
		letter-spacing: 1.7px;
		line-height: 1.3;
		margin-bottom: 103px;
		padding-left: 4.3%;
		padding-right:6.5%;
	}
	
	.steps-find-contact .h2 {
		margin-top: 53px;
	}
	
	.steps-find-contact .steps-item {
		order: 1;
	}
	
	.steps-be-active-01,
	.steps-find-contact-02,
	.steps-work-it-03 {
		height: 116px;
		width: 116px;
		top: -87px;
		left: 4.3%;
		font-size: 3rem;
	}
	
	.steps-be-active-01:after,
	.steps-find-contact-02:after,
	.steps-work-it-03:after {
		top: 75px;
		left: 47px;
		height: 6px;
		width: 23px;
		border-radius: 3px;
	}
	
	/* -- footer -- */
	
	.download {
		padding-top: 126px;
	}
	
	.download-container {
		flex-direction: column;
	}
	
	.download-container {
		margin-bottom: 274px;
	}
	
	.download-logo-back {
		width: 130px;
		height: 136px;
		border-radius: 30px;
		align-self: center;
	}
	
	.download-title-text-wrap {
		justify-content: center;
	}
	
	.download-title {
		font-size: 11rem;
		font-weight: 700;
		letter-spacing: 5px;
	}
	
	.download-title {
		margin-top: 55px;
		text-align: center;
	}
	
	.download-text {
		font-size: 5rem;
	}
	
	.footer-logo {
		margin-bottom: 24px;
	}
	
	.download .container-buttons {
		margin-bottom: 56px;
	}

}

/* ----- mobile max-width: 640px ----- */

@media (max-width: 640px) {
	
	html {
		font-size: 19%;
	}
	
	/* -- header -- */
	
	.header {
		padding-bottom: 85px;
	}
	
	.header-logo {
		width: 133px;
		height: 36px;
		margin-top: 34px;
		margin-right: 12px;
	}
	
	.header-title {
		letter-spacing: 0.28rem;
		margin: 126px 5% 77px 5%;
		max-width: 280px;
		line-height: 1.55;
	}
	
	.container-buttons {
		flex-direction: column;
	}
	
	.button-download, 
	.button-google {
		font-size: 1.3rem;
		line-height: 1.5;
		width: 280px;
		height: 35px;
	}
	
	.button-download {
		margin-bottom: 14px;
	}
	
	.button-download-svg, 
	.button-google-svg {
		width: 24px;
		height: 28px;
	}
	
	.button-download-svg {
		margin-bottom: 3px;
		margin-left: 80px;
	}

	.button-google-svg {
		margin-left: 80px;
	}
	
	.button-download-text,
	.button-google-text {
		font-size: 2.6rem;
		letter-spacing: 0.08rem;
		margin-left: 2.4%;
	}
	
	.button-download-text {
		max-width: 100px;
	}
	
	.button-google-text {
		max-width: 70px;
	}
	
	.button-bold-text {
		letter-spacing: 0.05rem;
	}
	
	/* -- athlets -- */
	
	.athlets {
		padding-top: 8px;
	}
	
	.athlets-pic {
		top: 80px;
		left: 21.8%;
	}

	.h2 {
		font-size: 16rem;
		letter-spacing: 2.3px;
	}
	
	.athlets .h2 {
		padding-left: 6vw;
	}

	.h3 {
		margin-left: 23px;
		letter-spacing: 0.1px;
		font-size: 9.8rem;
	}
	
	.h3-number {
		font-size: 4.5rem;
		top: 7px;
		left: 0;
	}
	
	.h3-number:after {
		top: 20px;
		left: 0;
		height: 5px;
		width: 18px;
		border-radius: 3px;
	}

	.athlets-text {
		font-size: 5rem;
		margin-top: 13px;
		letter-spacing: 0.7px;
		max-width: 720px;
		line-height: 1.3;
	}
	
	.athlets-connection,
	.athlets-collaboration,
	.athlets-growth {
		padding-left: 6%;
		padding-right: 6%;
	}
	
	.athlets-connection {
		margin-top: 230px;
		background: #fafafa;
		padding-top: 72px;
		padding-bottom: 48px;
	}

	.athlets-collaboration {
		padding-top: 48px;
		padding-bottom: 49px;
	}

	.athlets-growth {
		padding-top: 47px;
		padding-bottom: 31px;
	}
	
	.athlets-growth .athlets-text {
		max-width: 700px;
	}
	
	/* -- players -- */
	
	.players {
		padding-top: 9px;
	}
	
	.players-pic {
		top: 83px;
		left: 1%;
	}
	
	.players .h2 {
		padding-left: 3.6%;
	}
	
	.players .h3 {
		margin-left: 27px;
	}
	
	.players-connection,
	.players-collaboration,
	.players-growth {
		padding-left: 6%;
		padding-right: 6%;
	}
	
	.players-connection {
		background: #fafafa;
		margin-top: 230px;
		padding-top: 71px;
		padding-bottom: 50px;
	}
	
	.players-collaboration {
		padding-top: 49px;
		padding-bottom: 50px;
	}
	
	.players-collaboration .athlets-text {
		letter-spacing: 0.6px;
	}
	
	.players-growth {
		padding-top: 44px;
		padding-bottom: 52px;
	}
	
	/* -- steps -- */
	
	.steps-be-active,
	.steps-find-contact,
	.steps-work-it {
		flex-wrap: wrap;
	}
	
	.steps-item {
		position: relative;
	}
	.steps-pic,
	.steps-item {
		width: 100%;
	}
	
	.steps .h2 {
		font-size: 9rem;
		margin-top: 27px;
		letter-spacing: 1.7px;
	}
	
	.steps-be-active .h2,
	.steps-find-contact .h2,
	.steps-work-it .h2 {
		padding-left: 6%;
		margin-bottom: 10px;
	}
	
	.steps-item-text {
		font-size: 4.6rem;
		letter-spacing: 1.7px;
		line-height: 1.46;
		margin-bottom: 78px;
		padding-left: 6%;
		padding-right: 6%;
	}
	
	.steps-be-active .steps-item-text {
		padding-right: 20%;
	}
	
	.steps-find-contact .h2 {
		margin-bottom: 14px;
	}
	
	.steps-work-it .h2 {
		margin-bottom: 14px;
	}
	
	.steps-work-it .steps-item-text {
		margin-bottom: 67px;
	}
	
	.steps-find-contact .steps-item {
		order: 1;
	}
	
	.steps-be-active-01,
	.steps-find-contact-02,
	.steps-work-it-03 {
		height: 70px;
		width: 70px;
		top: -59px;
		left: 6%;
		font-size: 4.2rem;
		letter-spacing: 1.5px;
	}
	
	.steps-be-active-01:after,
	.steps-find-contact-02:after,
	.steps-work-it-03:after {
		top: 46px;
		left: 26px;
		height: 4px;
		width: 17px;
		border-radius: 3px;
	}
	
	/* -- footer -- */
	
	.download {
		padding-top: 99px;
	}
	
	.download-container {
		flex-direction: column;
		margin-bottom: 73px;
	}
	
	.download-logo-back {
		width: 74px;
		height: 74px;
		border-radius: 3rem;
		align-self: center;
	}
	
	.download-title-text-wrap {
		justify-content: center;
	}
	
	.download-title {
		font-size: 10.2rem;
		font-weight: 700;
		letter-spacing: 2.3px;
		margin-top: 48px;
		text-align: center;
	}
	
	.download-text {
		font-size: 5rem;
	}
	
	.footer-logo {
		width: 133px;
		height: 36px;
		margin-top: 30px;
		margin-bottom: 5px;
		margin-right: 2%;
	}
	
	.download .container-buttons {
		margin-bottom: 56px;
	}

}


/*! normalize.css v8.0.0 | MIT License */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}










